.header {
  box-shadow: var(--shadow-2);
}

.navArea {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 1rem;
}

.title {
  font-family: "Dancing Script", cursive;
  font-size: 1.7rem;
  font-weight: 700;

  color: var(--clr-black);
}

.description {
  font-family: "Dancing Script", cursive;
  font-size: 0.65rem;

  color: var(--clr-black);
}


.menus {
  display: flex;
  list-style: none;
  padding: 1rem; 
  margin: 0;
}

.menus a {
  color: var(--clr-black);
}

.menuItems {
  font-size: 1rem;
}


.menuItems button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.menuItems a,
.menuItems button {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}



.donate {
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  color: var(--clr-black);
}


@media only screen and (min-width: 576px) {
  .menus {
    align-items: center;
  }

  .span {
    padding-left: 0.75rem;
  }
}

@media only screen and (min-width: 992px) {

  .logo {
    width: 100%;
    align-items: center; 
  }

  .title {
    margin-bottom: 0.25rem;
    font-size: 1.75rem;
  }
  
  .description {
    font-size: 0.9rem;
  }

}

@media only screen and (min-width: 1200px) {

  .title {
    margin-bottom: 0.25rem;
    font-size: 2rem;
  }
  
  .description {
    font-size: 0.9rem;
  }

}

@media only screen and (min-width: 1400px) {

  .title {
    margin-bottom: 0.25rem;
    font-size: 2.5rem;
  }
  
  .description {
    font-size: 1.1rem;
  }

}