.article {
  display: flex;
  flex-direction: column;
  padding: 1em; 
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.article:last-child {
  margin-bottom: 0;
}

.quote {
  margin: 0;
  padding: 0 0.25em;

  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.author {
  margin: 0;

  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2px;
  text-align: right;
}
