.article {
  padding: 0 1em;
  max-width: 880px;
  margin: 0 auto;
  background: #fbfaf9;
  margin-top: -2rem;
}

.cover {
  position: relative;
  height: 443px;
  display: flex;
  justify-content: center;
}


.title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
  padding: 1em 0;
  margin-bottom: 0;
}

.body {
  font-weight: 400;
}

.body p {
  margin-bottom: 1em;

  font-size: 1.15rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: -0.25px;
}

@media only screen and (max-width: 700px) {
  .article {
    margin-top: 0;
  }
}
