.article {
  max-width: 880px;
  margin: 0 auto;
  background: #fbfaf9;
  margin-top: -7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover {
  position: relative;
  height: 180px;
  width: 100%;
}


.header {
  padding: 1rem 0;
  text-align: center;
}


.date {
  font-family: "Roboto", sans-serif; 
  font-size: 1rem;
  font-weight: 500;
  color: #897a76;
}


.title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
}

.body {
  font-weight: 400;
}

.body p {
  margin-bottom: 1em;

  font-size: 1.15rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: -0.25px;
}

@media only screen and (min-width: 768px) {

  .article {
    padding: 0 1rem;
    margin-top: -5rem;
  }
  

  
  .cover {
    height: 443px;
    width: 88%;
    
  }
  


}