/*
=====
# Elements
============ */

figure {
  position: relative;
  margin: 0;
}

figure img {
  border-radius: var(--radius);
}


button {
  background-color: transparent;
  border: none;
  box-shadow: transparent;
}

blockquote {
  margin: 0;
}