.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0 3rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  max-width: 1160px;
}

.title {
  margin: 0.25rem 0.5rem;
  font-size: 2rem;
  font-weight: 800;
}

.list {
  padding: 0 0.5rem;
  overflow-y: scroll;
  margin: 0;
  padding-right: 0.3em;
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 1.7;
  max-height: 40vh;
  width: 75%; 
  padding-bottom: 1rem;
  -webkit-overflow-scrolling: touch;
}


.list li {
  display: flex; 
  align-items: center;
}



/* SM */
/* 
@media only screen and (max-width: 700px) {
  .banner {
    height: 20vh; 
  }


  .category {
    flex-direction: column;
    padding: 1em;
  }

  .title {
    font-size: 1.5rem;
  }

  .list {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.7;
    max-height: 20vh;
    width: 98%;
  }
  
} */ 
