.container {
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 1rem;
}

.wrapper {
  padding-top: 0;
  background-color: var(--clr-grey-10);
}

.info {
  font-family: "Marck Script", cursive;
  margin: 0 auto;
}

.info p {
  font-size: 1.4rem;
}

.content p {
  margin-bottom: 1rem;
}


@media only screen and (min-width: 1000px) {
  .page {
    padding-bottom: 2em;
  }

  .wrapper {
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .title {
    padding: 2rem;
    margin-bottom: 0;
  }


}
