.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  background: var(--clr-green);
}

.folder {
  padding: 0.25em 2rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.header button {
  margin-right: 3rem;
  font-size: 3rem;
}

.yt {
  display: block;
  padding-bottom: 3rem;
  margin: 0 auto;
  max-width: 30rem;
  max-height: 30rem;
}
