.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 1rem;
}

.figure {
  display: flex;
  justify-content: center;
  width: 420px;
  height: 30rem;
}

.article {
  width: 80%;
  font-family: "Marck Script", cursive;
  margin: 0 auto;
  color: #3d6638;
}

.article p {
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
}

.article p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 700px) {
  .grid {
    grid-template-areas:
      "pg-figure"
      "pg-article"
      "pg-article";
  }

  .figure {
    height: 30rem;
    width: 100%;
    margin-top: 0;
  }

  .article {
    margin: 0 auto;
    width: 100%;
  }

  .article p {
    font-size: 1.4rem;
  }
}
