.title {
  border-bottom: 3px solid var(--clr-grey-10);
  color: green;
}

.wrapper {
  padding-bottom: 3rem;
}

.book {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px solid var(--clr-grey-10);
  padding-bottom: 1rem;
  margin-bottom: 2.75rem;
}

.figure {
  position: relative;
  width: 440px;
  height: 350px;
}

.figure2 {
  position: relative;
  width: 15rem;
  height: 17.5rem;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-left: 2em;
  align-self: flex-start;
  border-bottom: 3px solid var(--grey);
}

.info p:first-child {
  margin-top: 1.4rem;
}

.info p {
  margin-bottom: 0.25em;
}

.bold {
  font-weight: 900;
}

.fixed {
  min-width: 440px;
  min-height: 350px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  align-self: baseline;
  margin-top: 0.5em;

  padding: 0.5em 1.5em;
  border: none;
  background-color: var(--clr-grey-10);

  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--dark);

  outline: none;
}

.buyBtn {
  margin-left: auto;
  font-family: "Dancing Script", cursive;
  color: var(--clr-white);
  background: var(--clr-black);
  border-radius: 50%;
  padding: 0.5rem;
  z-index: 5;
}

.buyBtn span {
  font-size: 1rem;
  color: #f3ef7b;
}

.buy {
  display: flex;
  margin: 0 auto;
}

.btn {
  margin-top: -1rem;
}

@media only screen and (max-width: 700px) {
  .book {
    flex-direction: column;
  }

  .figure {
    height: 20rem;
  }

  .figure2 {
    height: 17.5rem;
  }
  
}
