.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 1rem;
}

.figure {
  height: 24rem;
  width: 18rem;
}

.article {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  color: #3d6638;
}

.article h3 {
  font-weight: 900;
  margin-bottom: 0.5em;
}

.article h3, .article p {
  font-family: "Marck Script", cursive;
}

.article p {
  font-size: 1.3rem;
  margin-bottom: 1em;
}


.excerptWrapper {
  background: linear-gradient(179.45deg, #f5f3f1 20.41%, #fbfaf9 95.35%);
}

.excerptTitle {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
  line-height: 125%;
  padding-bottom: 2rem;
}

.center {
  text-align: center;
}

.quotes, .letters {
  padding: 2rem 0
}

.letters h2 {
  font-size: inherit;
}

.letters article {
  border-bottom: 3px solid var(--clr-grey-10);
}

.letters article:last-child {
  border-bottom: none;
}


@media only screen and (max-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
 
  .figure {
    height: 25rem;
    width: 100%; 
    margin-top: 0;
  }

  .article {
    width: 100%;
  }
}
