/* 
====  
# PAGE
======== */

.page-container {
  margin: 0 auto;
  margin-bottom: 3rem;
}

.page-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 2rem 0;
}

.page-wrapper {
  padding: 2rem 0;
  background-color: var(--clr-grey-10);
}

.page-section {
  max-width: 1160px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.page-section p {
  margin-bottom: 1rem;
}
