.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding: 0.5em 0;
  margin-top: 1em;
}

.folder {
  padding: 0.25em 2rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.yt {
  display: block;
  padding-bottom: 3rem;
  margin: 0 auto;
  max-width: 30rem;
  max-height: 30rem;
}


@media screen and (min-width: 900px) {
  .accordion > div {
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 700px) {
}

@media only screen and (min-width: 1000px) {
  .folder {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1250px) {
}
