.writings {
  margin: 0 auto;
  margin-bottom: 4rem;
}

.banner {
  position: relative;
  height: 20rem;
}

.wrapper {
  padding-bottom: 1rem;
}

.category {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 1em 0;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  max-width: 1160px;
}

.title {
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  align-self: center;
  margin-left: 3em;
  width: 38%;
  font-size: 2.5rem;
}

.list {
  padding: 0 0.5rem;
  overflow-y: scroll;
  margin: 0;
  padding-right: 0.3em;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7;
  max-height: 40vh;
  width: 60%;
}

.list li {
  display: flex; 
  align-items: center;
}

.wave3 {
  position: relative;
  margin-top: -3rem;
  height: 6rem;
}

.wave3 img {
  width: 100%;
}

/* SM */
@media only screen and (max-width: 700px) {
  .category {
    flex-direction: column;
    padding: 1em;
  }

  .title {
    font-size: 1.8rem;
  }

  .list {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.7;
    max-height: 20vh;
  }
  
}
